* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(145deg, #2c2b2b, #1679bb);
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(145deg, #2c2b2b, #1679bb);
}

.header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;

  background: linear-gradient(145deg, #2c2b2b, #1679bb);
  z-index: 1000;
}

.logo a {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #fff;
}

main {
  min-height: 100vh;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  text-align: center;
}

.inicio {
  color: aqua;
  background: linear-gradient(
    45deg,
    #fdfdfd,
    #61878b,
    #02eeff,
    #dfdce0,
    #aeaeb6
  );

  background-clip: text;
  color: transparent;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 1.875rem;
}

img {
  width: 30px;
  height: 30px;
}
img:hover {
  transform: scale(1.1);
}
